
html {
    margin: 0;
    padding: 0;
}

body {
   margin: 0; 
   padding: 0;
}

#banner {
    width: 100%;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: left;
    text-align: center;
}

#nav-bar a {
    
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

#name {
    text-align: center;
}

#job {
    text-align: center;
}

#about {
    margin: auto;
}