

body {
    max-width: 960px;
}

.nav-bar {
    width: 100%;
    background-color: blue;
}

.nav-bar ul li {
    display: inline-block;
    color: white;
    float: left;
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}