
body {
    max-width: 960px;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: left;
    text-align: center;
}

#nav-bar a {
    
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

#name {
    text-align: center;
}

#job {
    text-align: center;
}